@import url("https://fonts.googleapis.com/css?family=Poppins");

//======================================================================================================
//                                  ADD COURSE PAGE
//======================================================================================================
.contentbox{
    width:70%;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    display: grid;
    margin-left: 4%;
    padding:3%;
    margin-top: 5%;
    min-height: 100%;
    max-height: 480px;
}
  
.outterboxcourses{
    display: flex;
}


.searchform{
    width:100%;
    border-radius: 10px;
    padding:5px;
    font-family:Poppins;
    font-size: 13px;
    margin-bottom: 20px;
    border-color: white;
    vertical-align: middle;
}
.searchform:hover{
    // border-color: #18A4AB;
    border-style: solid;
    background-color: #f6b63760;
}

.tablestyle{
    width:100%;
    vertical-align: middle;
}

.searchbtn{
    width:15%;
    background-color:#18A4AB;
    color: white;
    font-family: Poppins;
    border-radius: 10px;
    border-style: none;
    padding:5px;
    margin-left: 45%;
    font-size: 15px;
}
.searchbtn:hover{
    background-color: #F6B737;
}

td{
    vertical-align: top;
}

//=================================================================================================
//                                      View Course Buttons
//=================================================================================================

.outterboxviewcourses{
    display: flex;
}
.btnprimary {
    text-align: center;
    border-style: none;
    border-radius: 40px;
    font-family: Poppins;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    background-color: #18A4AB;
    margin:2px;
    padding-right: 10px;
    padding-left: 10px;
    // text-decoration: none;
}

.btnprimary a{
    text-decoration: none;
    color: #ffffff;
}
.btnprimary a:hover{
    text-decoration: none;
    color: #ffffff;
}
.btnprimary:hover {
    border-width: 1px;
    background-color: #F6B737;
    color: white;
}

.addbtn{
    width:30%;
    background-color:#FF5757;
    font-family: Poppins;
    border-radius: 10px;
    border-style: none;
    padding:5px;
    margin-left: 68%;
    font-size: 15px;
    margin-bottom: 2%;
}
.addbtn:hover{
    background-color: #F6B737;
}

.addbtn a{
    text-decoration: none;
    color: white;
}
.addbtn a:hover{
    text-decoration: none;
    color: white;
}

//=================================================================================================
//                                      Course Details
//=================================================================================================

.outterbox{
    border-radius: 25px;
    padding: 20px;
    width: 700px;
    height: 450px;
    margin-left: 10%;
    margin-top: 3%;
    background-color: #f8f4f4;
}

.innertabbox1{
    border-radius: 12px;
    border: 2px solid #36c4cc;
    text-align: center;
    width: 140px;
    height: 55px;
    margin:30px;
    margin-right: 30px;
    margin-left: 55px;
    background-color: #36c4cc;
    color: rgb(255, 255, 255);
}

.innertabbox1:hover{
    box-shadow: 3px 3px 5px #484848;
	transform: translateY(-3px);
	transition: all 0.3s ease 0s;
    border-radius: 12px;
}

.innertabbox2{
    border-radius: 12px;
    border: 2px solid #36c4cc;
    text-align: center;
    width: 140px;
    height: 55px;
    padding: 10px;
    margin:30px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #36c4cc;
    color: rgb(255, 255, 255);
}

.innertabbox2:hover{
    box-shadow: 3px 3px 5px #484848;
	transform: translateY(-3px);
	transition: all 0.3s ease 0s;
    border-radius: 12px;
}

.innertabbox3{
    border-radius: 12px;
    border: 2px solid #36c4cc;
    text-align: center;
    width: 140px;
    height: 55px;
    padding: 10px;
    margin:30px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #36c4cc;
    color: rgb(255, 255, 255);
}

.innertabbox3:hover{
    box-shadow: 3px 3px 5px #484848;
	transform: translateY(-3px);
	transition: all 0.3s ease 0s;
    border-radius: 12px;
}

.displaybox1{
    border-radius: 12px;
    border: 2px solid #e6da36;
    text-align: center;
    width: 140px;
    height: 55px;
    padding: 9px;
    margin:30px;
    margin-left: 50px;
    margin-right: 30px;
    background-color: #e6da36;
    color: rgb(255, 255, 255);
}

.displaybox1:hover{
    box-shadow: 3px 3px 5px #484848;
	transform: translateY(-3px);
	transition: all 0.3s ease 0s;
    border-radius: 12px;
}

.displaybox2{
    border-radius: 12px;
    border: 2px solid #e6da36;
    text-align: center;
    width: 140px;
    height: 55px;
    padding: 10px;
    margin:30px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #e6da36;
    color: rgb(255, 255, 255);
}

.displaybox2:hover{
    box-shadow: 3px 3px 5px #484848;
	transform: translateY(-3px);
	transition: all 0.3s ease 0s;
    border-radius: 12px;
}

.displaybox3{
    border-radius: 12px;
    border: 2px solid #e6da36;
    text-align: center;
    width: 140px;
    height: 55px;
    padding: 10px;
    margin:30px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #e6da36;
    color: rgb(255, 255, 255);
}

.displaybox3:hover{
    box-shadow: 3px 3px 5px #484848;
	transform: translateY(-3px);
	transition: all 0.3s ease 0s;
    border-radius: 12px;
}

.displaybox4{
    border-radius: 12px;
    border: 2px solid #45e445;
    text-align: center;
    width: 140px;
    height: 55px;
    padding: 10px;
    margin:30px;
    margin-left: 20%;
    margin-right: 30px;
    background-color: #45e445;
    color: rgb(255, 255, 255);
}

.displaybox4:hover{
    box-shadow: 3px 3px 5px #484848;
	transform: translateY(-3px);
	transition: all 0.3s ease 0s;
    border-radius: 12px;
}

.displaybox5{
    border-radius: 12px;
    border: 2px solid #e63636;
    text-align: center;
    width: 140px;
    height: 55px;
    padding: 10px;
    margin:30px;
    margin-left: 70px;
    margin-right: 30px;
    background-color: #e63636;
    color: rgb(255, 255, 255);
}

.displaybox5:hover{
    box-shadow: 3px 3px 5px #484848;
	transform: translateY(-3px);
	transition: all 0.3s ease 0s;
    border-radius: 12px;
}