@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Spartan");
@import url("https://db.onlinewebfonts.com/c/405f05e6bf58471a25729ed060cda2d8?family=Glacial+Indifference");

title1{
    color: #F6B737;
    font-family: Glacial Indifference;
    font-size:30px;
    float:left;
    padding-top: 20px;
}
title2{
    color: #FF5757;
    font-family: Glacial Indifference;
    font-size:30px;
    float: left;
    padding-top: 20px;
}
heading1{
    font-family: Poppins;
    color:rgb(136, 136, 136);
    font-size: 20px;
}

heading2{
    font-family:Poppins;
    color:rgb(153, 153, 153);
    font-size: 13px;
}

formlabels{
    font-family:Poppins;
    color:#18A4AB;
    font-size: 15px;
}

loginheading{
    font-family: Poppins;
    font-size: 30px;
    color: rgb(78, 78, 78);
}

formlabelslogin{
    font-family:Poppins;
    color:#949696;
    font-size: 15px;
}