@import url("https://fonts.googleapis.com/css?family=Poppins");

heading1{
    font-family: Poppins;
    color:rgb(136, 136, 136);
    font-size: 20px;
}

heading2{
    font-family:Poppins;
    color:rgb(153, 153, 153);
    font-size: 13px;
}