@import url("https://fonts.googleapis.com/css?family=Poppins");

//====================================================================================================
//                                          START PAGE
//====================================================================================================

.align{
    display:flex;
}

.welcomebox{
    display: block;
    text-align: center;
    margin-left: 15%;
    margin-top: 13%;
}
.startbtn{
    border-color: #18A4AB;
    border-style: solid;
    border-width: 2px;
    font-family: Poppins;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    margin:2px;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
}
.startbtn a{
    text-decoration: none;
    color: #18A4AB;
}
.startbtn a:hover{
    background-color:#18A4AB;
    color: white;   
}
.startbtn:hover{
    background-color:#18A4AB;
    color: white;
}

//====================================================================================================
//                                          NAV BAR 
//====================================================================================================

.navbar{   
    // background-color: #f1eded;
    padding: 10px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    padding-bottom: 5px;
}
.logo{
    float: left;
}
.rowC{
    display:flex; 
    background-color: #ffffff;
}

navbar_item {
    float: right;
    font-family: Poppins;
    margin-right: 2%;
    margin-left: 2%;
    font-size: 15px;
    padding-top: 10px;
    vertical-align:text-bottom;
}
  
navbar_item a {
    background-color: rgb(253, 253, 253);
    display: block;
    color: rgb(146, 146, 146);
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}
  
navbar_item a:hover{
    border-radius: 20px;
    border-width: 1px;
    background-color: #F6B737;
    color:rgb(253, 253, 253);
}

//=================================================================================================
//                                      MENU BAR
//=================================================================================================

.menubox{
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    width: 15%;
    background-color: #18A4AB;
    margin-top:5%;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}

.menuitems{
    color:white;
    font-family: Poppins;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #18A4AB;
    border-color: #18A4AB;
    border-style: none;
    text-align: left;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 40px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.menuitems:hover{
    background-color: #5eb5b9;
}
.menuitems a{
    color:white;
    text-decoration: none;
}
.menuitems a:hover{
    color:white;
    text-decoration: none;
}

//=================================================================================================
//                                      Login Page
//=================================================================================================
.formbox{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
    background-color: rgb(243, 243, 243);
    padding:3%;
    border-radius: 20px;
}
.tablestyle{
    width:100%;
    vertical-align: middle;
    margin-top: 1%;
}

.searchform{
    width:100%;
    border-radius: 10px;
    padding:5px;
    font-family:Poppins;
    font-size: 13px;
    margin-bottom: 20px;
    border-color: white;
    vertical-align: middle;
}
.searchform:hover{
    // border-color: #18A4AB;
    border-style: solid;
    border-color: #FF5757;
}

.loginbtn{
    width:15%;
    background-color:#18A4AB;
    color: white;
    font-family: Poppins;
    border-radius: 10px;
    border-style: none;
    padding:5px;
    font-size: 15px;
}
.loginbtn:hover{
    background-color: #F6B737;
}

.btnprimary {
    text-align: center;
    border-style: none;
    border-radius: 40px;
    font-family: Poppins;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    background-color: #b7b8b8;
    margin:2px;
    padding-right: 10px;
    padding-left: 10px;
    // text-decoration: none;
}

.btnprimary a{
    text-decoration: none;
    color: #ffffff;
}
.btnprimary a:hover{
    text-decoration: none;
    color: #ffffff;
}
.btnprimary:hover {
    border-width: 1px;
    background-color: #F6B737;
    color: white;
}